*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */

.bg_active-cell{
    background-color: azure;
}

/* end utilities */

body{
    background-color: aquamarine;
}

#site_header{
    height: 100px;
    margin-bottom: 5rem;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container{
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    .cell{
        width: calc(100% / 10);
        aspect-ratio: 1;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#site_footer{
    height: 50px;
    margin-top: 5rem;
    background-color: white;
}